<div><%="#{I18n.t("features.added_to_selection_message_part1")} #{@nb_panier} #{I18n.t("features.added_to_selection_message_part2")}"%><br>
  <p align="center"><%= link_to(I18n.t("features.go_to_selection"), liste_reps_path(:panier => 1)) %></p>
</div>
