<div align="right">
  <div class="pw_fslboxes_dashed">
    <ul class='pw_menus_3'>
      <li class="ui-state-focus">
        <span class="pw_close_window ui-icon ui-icon-closethick"></span>
      </li>
    </ul>
  </div>
</div>

<div id="title_fslboxes"><%= @reportage.no_reportage %></div>
