config/database.yml
*~
*.cache
*.log
*.pid
tmp/**/*
.DS\_Store
db/cstore/**
doc/api
doc/app
doc/plugins
coverage/*
*sqlite* 
*.tmproj
Capfile
doc/*.dot
*.sw?
.svn
.rake_tasks
.bundle
public/*
db/sphinx/*
