<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bonjour</h1><br>
    Veuillez trouver une nouvelle requête provenant de Pixpalace.com :<br>
    <%= @request %><br> <br>
    Merci, cordialement    <br>
    L'équipe de Pixpalace  <br>
    <br>
    <%= I18n.l Time.now %><br><br>


  </body>
</html>