<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<title>Téléchargement PixPalace</title>

<div><%= @aff_txt %></div>

<br /><a href="javascript:window.close()" title="Fermer">Fermer</a>

</body>
</html>