<%#*<center>%>

<%#= 'Download ' + I18n.t('HD')  %>

<%#*<br /><br />%>

<%# @dwn.each do |server,paras| %>
    <%# paras['urls'].each do |action, urls|%>
      <%#*<form method='post' action='<%= action %>'>%>
        <%#  urls.each do |url| %>
          <%#*<input type='hidden' name='<%= url %>'>%>
        <%# end %>
        <%#=  submit_tag server %>
      <%#*</form>%>
    <%# end %>
<%# end %>

<%#*</center>%>