<div id="pw_search_panel">
	<%= form_tag({:action => "index"}, :class => "pw_panel", :id => "pw_search_form" ) do -%>

	    <div class="pw_panel-header-2" >
	        <span class='pw_panel-header-content'>
	          <strong>Appliquer sélection agence(s)</strong>
	          <%= submit_tag 'OK', :class => 'btn btn-default btn-xs' %>
	        </span>
	    </div>

	<% end -%>
</div>