<div id="pw_light_box_panel">
    <div class="pw_panel-header" >
         <span class='pw_panel-header-label hidden-trigger'></span>
         <span class='pw_panel-header-content'>
             <div id='light_box_form_place'>
                <%= render :partial => 'light_boxes/select_form' %>
             </div>
         </span>
    </div>
    <div class="pw_panel-content">
        <%= render :partial => 'light_boxes/thumbs' %>
    </div>
</div>