<%= select_for_current_user_light_boxes %>
<div id="light_box_add">
	<span class="glyphicon glyphicon-plus" title="<%= I18n.t('new_lb') %>"></span>
</div>

<script>
	$("#light_box_id").addClass('input-xs form-control-fixed-width');
</script>